# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files (SECURITE MAXIMALE)
.env
.env.local
.env.*.local

# build artifacts
out/
build/
dist/

# plasmo specific
.plasmo
.plasmo/*

# typescript
.tsbuildinfo

# Editeurs (Optionnel mais propre)
.vscode
.idea