name: "Build Extension"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: |
          if [ -d "ent-ecole-maternelle" ]; then cd ent-ecole-maternelle; fi
          npm install

      - name: Build the extension
        run: |
          if [ -d "ent-ecole-maternelle" ]; then cd ent-ecole-maternelle; fi
          # 1. On construit pour Chrome (par défaut)
          npm run build
          # 2. On construit EXPLICITEMENT pour Firefox (la ligne ajoutée)
          npm run build -- --target=firefox-mv2

      - name: Upload Chrome Artifact
        uses: actions/upload-artifact@v4
        with:
          name: chrome-extension
          path: |
            build/chrome-mv3-prod
            ent-ecole-maternelle/build/chrome-mv3-prod

      - name: Upload Firefox Artifact
        uses: actions/upload-artifact@v4
        with:
          name: firefox-extension
          path: |
            build/firefox-mv2-prod
            ent-ecole-maternelle/build/firefox-mv2-prod
